:root {
  color-scheme: $color-scheme;
}

html {
  background: $base-1;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $base-0;
  font-size: 1rem;
  min-height: 100%;
}

::selection {
  background: $black;
  color: $white;
}

/* Style helpers */
.reset-after::after, .reset-before::before {
  content: none;
}

/* Menus */
.slide-menu {
  width: 250px;
  transform: translateX(-113%);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}
.slide-menu.active {
  transform: translateX(0);
}
@include media-breakpoint-up(lg) {
  .slide-menu {
    transform: translateX(0);
  }
  .content {
    margin-left: 250px;
  }
}

.sidebar .nav-link[aria-expanded=true] > .sidebar-expand svg {
  transform: rotate(180deg);
}

.sidebar .nav-link {
  padding: 0.75rem 1.25rem;
  color: $gray-800;
}

.sidebar .nav-link {
  border-right: 2px solid transparent;
}

.sidebar .nav-link:hover {
  background: rgba($primary, 5%);
}

.sidebar .nav-link:hover, .sidebar .nav-link:hover .sidebar-icon {
  color: $component-active-bg;
}

.sidebar .nav-link.active {
  color: $component-active-bg;
  background: rgba($primary, 10%);
  border-right: 2px solid $component-active-bg;
}

.sidebar .nav-link.active > .sidebar-icon {
  color: $component-active-bg;
}

.sidebar-icon {
  color: $gray-600;
}

.sidebar-footer {
  background: rgba($primary, 5%);
}

/* Cookie Banner */
.cookie-banner {
  background: $toast-background-color;
  box-shadow: $toast-box-shadow;
}

/* RTL Support */
[dir="rtl"] body {
  text-align: right;
}

[dir="rtl"] .sidebar .nav-link {
  border-left: 0;
  border-right: 2px solid transparent;
}

[dir="rtl"] .sidebar .nav-link.active {
  border-left: 0;
  border-right: 2px solid $component-active-bg;
}

/* Sidebar */
[dir="rtl"] .slide-menu {
  width: 250px;
  transform: translateX(113%);
}
[dir="rtl"] .slide-menu.active {
  transform: translateX(0);
}
@include media-breakpoint-up(lg) {
  [dir="rtl"] .slide-menu {
    transform: translateX(0);
  }
  [dir="rtl"] .content {
    margin-left: 0;
    margin-right: 250px;
  }
}